<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="/public/js/bootstrap.min.js"></script>
	<script src="/public/js/form.js"></script>
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404! :C</title>
	
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>403: you're not allowed to view %%redirect%%</h1>
				<p>Either you're not logged in, our you lack a high enough power to view this page. Either <a href="/login/">Login</a> or just respect the privacy of this website.</p>
			</div>
		</div>
	</div>
</body>
