<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="/public/js/bootstrap.min.js"></script>
	<script src="/public/js/form.js"></script>
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404! :C</title>
	
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>%%url%% not found ;_;</h1>
				<p>Unfortunately, it seems as if the page or file you requested cannot be found. Please try again later, or reload the page, or perhaps adopt a child, donate to a charity, visit your local library, adopt an old dog, go to the park, and generally get a life.</p>
			</div>
		</div>
	</div>
</body>
