<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="/public/js/bootstrap.min.js"></script>
	<script src="/public/js/form.js"></script>
	<script src="/public/js/feedFrontEnd.js"></script>
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>%%username%%'s feed</title>
</head>
<body>
	<style type="text/css">
		.submit{
			width:100%;
		}
		@media(min-width:768px){
			.submit{
				width: inherit;
			}		
		}
	</style>
	<section class="nav">
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/feed/">Social-link</a>
				</div>

				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="/users/%%username%%">Me</a></li>
						<li><a href="/messages/">Messages</a></li>
					</ul>
					<div class="navbar-form navbar-left" role="search">
						<form action="/search/" class="form-group" method="post">
							<input type="text" name="query" class="form-control" placeholder="Search">
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div>
					<div class="navbar-right">
						<ul class="nav navbar-nav">
							<li><a href="/settings/">Settings</a></li>
							<li><a href="/logout/">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</section>
	<section class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="notifications">
						
					</div>
					<div class='request'>
						%%request%%
					</div>
					<h1>%%username%%'s feed</h1>
					<div class="form-group">
						<form id="post" action="/posts/" class="form-inline" method="POST" >
							<textarea type="" maxlength="200" name="content" id="post" class="form-control"></textarea><br/>
							<button id="submit" type="submit" class="submit btn btn-primary">Post</button><br/>
						</form>
					</div>
					<div class="" id="feedContent">

					</div>
				</div>
			</div>
		</div>	
	</section>
</body>
